.hero-section:before {
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 100%;
}



.hero-section {
    position: relative;
}



.hero-flex {
    color: var(--text-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10vh;
    flex-wrap: wrap;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 12px;
    flex: 1;
    z-index: 100;
    
}
.hero-section-left h1 {
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif; 
    font-weight: bold;
    line-height: 120px;

}
.description {
    margin-bottom: 25px;
}
.hero-section-left h1 .what-we {

    font-family: 'DM Sans', sans-serif; 
    font-size: 112px;
    font-weight: bold;
}
.hero-cards-section {
    height: 100%;
    background-color: var(--blue-color-shade-v3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero-section-left .description p {
    font-size: 16px;
    text-align: justify;
}
.hero-section-right {
    flex: 1;
    text-align: right;
}
.hero-section-right img {
    width: 500px;
    height: 500px;
    transition: all 0.3s;
}

/* .hero-section-right {
    transform: translateX(80px);
} */



.hero-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
    flex-wrap: wrap;
} 
.hero-cards-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    color: var(--white-color-shade-v1);
    transform: translateY(-90px);
}
.hero-cards-info .button {
    background-color: var(--blue-color-shade-v4);
}

.hero-cards .hero-card {
    transform: translateY(-150px);
}
.float{
    display: flex;
    align-items: center;
    justify-content: center;
	position:fixed;
	width:80px;
	height:80px;
	bottom:40px;
	right:40px;
	background-color:var(--blue-color-shade-v1);   
	color:#FFF;
	border-radius:1000px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.6);
    z-index:2000;
}

/* @media only screen and (max-width: 1500px) {
    .hero-flex {
        text-align: center;
        align-items: center;
        height: 100vh;
    }
    .hero-section-left {
        width: 100%;
        text-align:start;
    }
    .hero-section-right {
        width: 100%;
        align-items: center;
    }
} 
*/

@media screen and (max-width: 1150px) {
    .hero-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero-section-left {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .hero-left-info-r .description p {
        text-align: center;
    }
    .hero-left-info-r {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    .hero-cards {
        align-items: center;
        justify-content: center;
    }
    .hero-cards .hero-card {
        transform: translateY(-100px);
    }
}

@media only screen and (max-width: 600px) {
    /* .hero-section-right img {
        width: 400px;
        height: 400px;
        transition: all 0.3s;
    } */
    .float {
        width: 60px;
        height: 60px;
    }
    .float-icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    .hero-flex {
        height: 50vh;
    }
    .hero-section-right img {
        display: none ;
    }
    .hero-cards .hero-card {
        transform: translateY(0px);
    }
}

@media (max-width: 350px) {
    .float {
        width: 60px;
        height: 60px;
    }
    .float-icon {
        width: 40px;
        height: 40px;
    }
}
/*  HERO ANIMATION  */

/* Animation */
.hero-animation {
    transform: translateY(10px);
    width: 100%;
    height: 100%;
}
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:50vh;
    }
  }

  .custom-shape-divider-bottom-1681868050 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681868050 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1681868050 .shape-fill {
    fill: #FFFFFF;
}